# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OOP\asg1-mon-qua-c-a-chua-master\asg1-mon-qua-c-a-chua-master\Bomberman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
